<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <p class="text-red-700">Hello world</p>
    <a
      href="/logout"
      class="bg-accent/50 px-4 py-2 relative rounded-full group flex flex-col justify-center items-center"
    >
      <!-- Added before: pseudo-element to reserve bold width -->
      <span class="flex flex-col items-center justify-center font-semibold">
        Log Out
      </span>
    </a>
  </body>
</html>
