<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Reset Password - Movie Database</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Movie Database</h1>
      </div>

      <div>
        <form action="/password-reset" method="POST">
          <div>
            <h2>Forgot Password?</h2>
            <p>
              Enter your email address and we'll send you a link to reset your
              password.
            </p>
          </div>
          <%- include("partials/errors") %>
          <div>
            <div>
              <label for="email">Email address</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your registered email"
                required
                autofocus
              />
            </div>
          </div>

          <div>
            <input type="submit" value="Find Email" />
          </div>

          <p>
            Remember your password?
            <a href="/" title="Go to Login Form">Log In now</a>
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
