<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Reset Password - Movie Database</title>
  </head>
  <body>
    <main
      class="container max-w-7xl mx-auto flex flex-col items-center gap-8 p-8"
    >
      <div class="flex flex-col items-center justify-center gap-4">
        <h1 class="text-3xl sm:text-5xl font-bold">Movie Database</h1>
      </div>

      <div class="flex flex-col items-center sm:justify-center min-w-full">
        <form
          action="/password-reset/<%= id %>"
          method="POST"
          class="border border-secondary p-4 min-w-full sm:min-w-xl sm:p-8 rounded-lg"
        >
          <div class="text-center mb-4">
            <h2 class="text-xl sm:text-3xl font-bold">Reset Password</h2>
            <p class="text-text/80">Enter your new password below.</p>
          </div>
          <%- include("partials/errors") %>
          <div class="mb-4">
            <div class="flex flex-col flex-1 group mb-2">
              <label
                for="password"
                class="text-xs font-medium text-text/80 group-focus-within:text-text mb-2"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter new password"
                class="border border-secondary rounded-lg p-2 text-xs"
                required
                autofocus
              />
            </div>
            <div class="flex flex-col flex-1 group mb-2">
              <label
                for="confirmPassword"
                class="text-xs font-medium text-text/80 group-focus-within:text-text mb-2"
                >Confirm Password</label
              >
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm new password"
                class="border border-secondary rounded-lg p-2 text-xs"
                required
                autofocus
                autocomplete="password"
              />
            </div>
          </div>

          <div class="w-full flex">
            <input
              type="submit"
              value="Reset Password"
              class="mx-auto sm:flex-1 bg-accent hover:bg-accent/80 transition-all ease-in-out duration-200 p-2 rounded-lg font-medium"
            />
          </div>

          <p class="text-xs text-center">
            Remember your password?
            <a
              href="/"
              title="Go to Login Form"
              class="hover:text-accent/80 text-accent font-medium"
              >Log In now</a
            >
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
