<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Reset Password - Movie Database</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Movie Database</h1>
      </div>

      <div>
        <form action="/password-reset/<%= id %>" method="POST">
          <div>
            <h2>Reset Password</h2>
            <p>Enter your new password below.</p>
          </div>
          <%- include("partials/errors") %>
          <div class="mb-4">
            <div>
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter new password"
                required
                autofocus
              />
            </div>
            <div>
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm new password"
                required
                autofocus
                autocomplete="password"
              />
            </div>
          </div>

          <div>
            <input type="submit" value="Reset Password" />
          </div>

          <p>
            Remember your password?
            <a href="/" title="Go to Login Form">Log In now</a>
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
